footer {
	min-height: $footerHeight;
	display: flex;
	align-items: center;


	.container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;

		@media $medium {
			justify-content: space-between;
		}
	} /* container */

	img {
			width: 20px;
			height: 18px;
			margin-bottom: -7px;
	}

	a,p {
		font-size: $fontSizeSmall;
		margin: 0;
	}
	
	a {
		border-bottom: 1px dotted;
	}

	p {
		@media $medium {
			order: 1
		}
	}

	.mailto {
		@media $medium {
			order: 2;
		}
	}


	
} /* Footer */