footer {
	height: $footerHeight;

	.container {
		display: flex;
		justify-content: space-between;
	}

	img {
			width: 20px;
			height: 18px;
			margin-bottom: -7px;
	}

	a,p {
		font-size: $fontSizeMedium;
		margin: 0;
	}
	
	a {
		border-bottom: 1px dotted;
	}
	
} /* Footer */