footer {
	height: $footerHeight;
	display: flex;
	align-items: center;


	.container {
		display: flex;
		justify-content: space-between;
	}

	img {
			width: 20px;
			height: 18px;
			margin-bottom: -7px;
	}

	a,p {
		font-size: $fontSizeSmall;
		margin: 0;
	}
	
	a {
		border-bottom: 1px dotted;
	}
	
} /* Footer */