header {
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	@media $medium {
		width: 80vw;
		margin: 0 auto;
	}

	.logo {
		width: 118px;
		height: 42px;
	}

	.nav-main{
		ul {
			list-style-type: none;
		}

		li {
			display: inline-block;
			margin: 0 15px;
		}

		a.cat-menu-item {
			padding: 5px 15px;
			border-radius: 3px;
			border-bottom: none;
			background-color: $baseGrey;
			color: white;
			text-decoration: none;
			transition-duration: $transitionDurationDefault;
		}
		
		a.cat-menu-item:hover {
			background-color: $red;
			transition-duration: $transitionDurationDefault;
		}

	} /* nav-main */

	.header-contact-info {
		text-align: right;

		p {
			font-size: $fontSizeLarge;
			font-weight: $fontWeightNormal;
			margin: 0;
			padding: 0;				
		}

		a {
			font-size: $fontSizeMedium;
			color: $red;
			text-decoration: none;
			border-bottom: 1px dotted;
		}

		a:hover {
			color: $yellow;
		}

	} /* .header-contact-info */

} /* header */
