header {
	height: 60px;
	background-color: $red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	@media $medium {
		width: 80vw;
		margin: 0 auto;
	}

	.logo {
		width: 116px;
		height: 40px;
	}

	.nav-main{
		ul {
			list-style-type: none;
		}

		li {
			display: inline-block;
			margin: 0 15px;
		}

		a {
			color: $baseBlack;
		}

	} /* nav-main */

} /* header */
