/* define mixins */
@define-mixin mixin-ul {
	display: flex;
	color: $baseGrey;
	justify-content: space-between;
	align-items: center;
	font-size: $fontSizeMedium;
	padding: 0;
}

@define-mixin mixin-li {
	display: inline;
	cursor: pointer;
	transition-duration: $transitionDurationDefault;
	padding: 5px;	
}

/* end mixins */


#subheader-category-container {
	position: fixed;
	top: 60px;
	width: 100%;
} /* #subheader-category-container */

nav.sublevel-01 {
	ul {
		@mixin mixin-ul;
	} /* ul */

	li {
		@mixin mixin-li;


		svg {
			width: 8px;
			height: 4px;
			margin: 0 0 2px 2px;
			fill:none;
			stroke:#4D4D4F;
			stroke-width:1.5;
			transition-duration: $transitionDurationDefault;
		}

	} /* li.subheader-category-item */
}

nav.sublevel-02 {
	background-color: $clearBlue;

	ul {
		@mixin mixin-ul;
		display: none;
	}

	ul.active {
		display: flex;
	}

	li {
		@mixin mixin-li;
		color: white;
	}

} /* nav.sublevel-02 */