#subheader-category-bcg {
	height: 60px;
	background-color: $offwhite;
	position: fixed;
	top: 60px;
	opacity: 1;
	width: 100%;
}

#subheader-category {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 60px;

	nav#subheader {

		ul {
			display: flex;
			color: $baseGrey;
			justify-content: space-between;
			font-size: $fontSizeMedium;
			margin: 0;
			padding: 0;
		} /* ul */

		li.subheader-category-item  {
			display: inline;
			cursor: pointer;
			transition-duration: $transitionDurationDefault;


			svg {
				width: 8px;
				height: 4px;
				margin: 0 0 2px 2px;
				fill:none;
				stroke:#4D4D4F;
				stroke-width:1.5;
				transition-duration: $transitionDurationDefault;
			}

			div {
				background-color: white;
				display: none;
			}

			ul {
				display: block;
			}

			li {
				display: block;
			}

		} /* li */

		li:hover {
			color: $red;

			svg {
				stroke: $red;
			}
		} /* li:hover */

	} /* nav#subheader */


} /* subheader-category */