/* Basic */
html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: $fontMain;
	font-weight: $fontWeightLight;
}

*, *:before, *:after {
	box-sizing: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	color: $baseBlack;
	background-color: white;
	font-family: $font-main;
	font-weight: $font-weight-light;
	font-size:1.4rem;
	text-align: justify;
	line-height: 160%;

	@media $small {
		font-size:1.5rem;
		text-align: left;
	}
}

p {
	hyphens: auto;
}


/* Links */
a {
	text-decoration: none;
	border-bottom: 1px solid;
	transition-duration: $transitionDurationDefault;
}

a:hover {
	color: $red;
}

a.blue {
	color: $navyBlue;
}

a.blue:hover {
	color: $red;
}


/* Typorgaphy */

h4, h5, h6 {
	font-weight: $fontWeightNormal;
	line-height: 130%;
} 
