/* mixins */

@define-mixin category-section-container $background-color $margin-bottom {
	padding: 10px 25px;
	margin-left: calc($filterWidth + $filterMargin + 2.5vw);
	margin-right: 2.5vw;
	background-color: $background-color;
	margin-bottom: $margin-bottom;
}

@define-mixin category-h2 {
	margin: 0 auto 4rem auto;
	text-align: center;
	font-weight: $fontWeightBold;
	position: relative;
}

@define-mixin button {

	cursor: pointer;
	display: block;
	margin: 20px auto 0 auto;
	padding: 0 10px;
	height: 28px;
	border: none;
	border-radius: 3px;
	background-color: $clearBlue;
	color: white;
	transition-duration: $transitionDurationDefault;

}

@define-mixin order-frame {
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
	display: flex;
}