.about {

	h1 {
		text-align: center;
	}
	
	.tagline-container {
		margin: 10rem auto $marginDefault auto;
		height: 730px;
		background-image: url(/catalog/view/theme/autoobuv/image/bcg-about.svg);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 590px;
		position: relative;
		padding-top: 1px;

		.tagline {
			position: absolute;
			top: 0;
			left: 120px;

			h1 {
				text-align: left;
			}

			p {
				font-size: 1.8rem;
			}
			
			img {
				width: 23px;
				height: 23px;
				margin: 0 10px -7px 0;
			}

		} /* tagline */

		.advantages {
			margin: 280px 0 80px 610px;

			section {
				margin-top: 70px;
				display: flex;
				align-items: center;
			}

			img {
				width: 49px;
				height: 49px;
				margin-right: 20px;
			}

			p {
				margin: 0;
			}

			h2 {
				margin: 0 0 0.5rem 0;
				color: $red;
			}

		} /* advantages */

	} /* tagline-container */

	.extras {

		margin-bottom: $marginDefault;

		h1 {
			margin-bottom: $marginDefault;
		}
			
		ul {
			display: flex;
			justify-content: space-between;
		}
		
		li {
			display: block;
			margin: 0 20px;
			flex: 1 1 33.3333%;
			max-width: 350px;
		}

		img {
			display: block;
			margin: 0 auto 25px auto;
			width: 55px;
			height: 50px;
		}

		h5 {
			color: $red;
		}

		p {
			margin: 0;
			font-size: $fontSizeMedium;
			line-height: 150%;
		}

	} /* extras */

	.reliability {

		margin-top: $marginDefault;
		margin-bottom: 10rem;

		img.cert {
			display: block;
			margin: 0 auto;
		}

		p {
			text-align: center;
		}

		p > img {
			width: 18px;
			height: 18px;
			margin-bottom: -5px;
		}

	} /* reliability */

	.partnership {

		.logos {
			display: flex;
			justify-content: space-between;
		}

		img {
			display: block;
			flex: 1 1 25%;
			margin: 2.5rem 4rem;
			max-width: 200px;
		}

	}

} /* about */

.black-stripe {
	width: 100%;
	height: 1px;
	background-color: $baseBlack;
}

img.about-arrow {
	display: block;
	width: 66px;
	height: 106px;
	margin: 0 auto;
}

img.container {
	width: 1064px;
	height: 421px;
	display: block;
	margin-top: $marginDefault;
}