$categoryHeaderHeight:	18rem;
$filterMargin:			25px;
$filterWidth:			230px;

#category {
	padding-top: 1px;

	.container-filter-background {
		position: fixed;
		top: $categoryHeaderHeight;
		left: 2.5vw;
		width: $filterWidth;
		background-color: $offwhite;
		opacity: .8;
		border-radius: 3px;
		box-shadow: 0px 5px 15px $shadowColor;
		margin: 0;
		padding: 0
	}


	.container-filter-content {
		padding: 15px;
		
		h4 {
			margin: 0 0 25px 0;
			font-weight: $fontWeightLight;

			img {
				width: 11px;
				height: 14px;
				margin: 0 5px -1px 0;
			}
		} /* h4 */

		h4:last-of-type {
			margin-top: 30px;
		}

		fieldset {
			border: none;
			margin: 0 0 15px 0;
			padding: 0;
		} /* fieldset */

		label {
			display: block;
			font-size: $fontSizeSmall;
			font-style: italic;
			margin: 0;
			padding: 0;
			line-height: 80%;
		}
		
		select {
			margin: 0;
			padding: 0;
			width: 100%;
		}

		button {
			cursor: pointer;
			display: block;
			margin: 20px auto 0 auto;
			width: 90px;
			height: 28px;
			border: none;
			border-radius: 3px;
			background-color: $clearBlue;
			color: white;
			transition-duration: $transitionDurationDefault;

			svg {
				width: 12px;
				height: 11px;
				fill: none;
				stroke: #ffffff;
				stroke-miterlimit: 10;
				stroke-width: $strokeWidth;
				margin: 0 3px -2px ; 
			}
		}

		button:hover {
			background-color: $lightGreen;
		}

	} /* .container-filter-content */

	nav.breadcrumbs {
		
		display: block;
		margin-top: calc($categoryHeaderHeight - 45px);
		margin-left: calc(2.5vw + $filterWidth + $filterMargin);
		margin-bottom: 16px;
		font-size: $fontSizeMedium;
		
		img {
			width: 14px;
			height: 13px;
			margin: 0 5px -3px 5px;
		}

	}

	.category-items {
		padding: 10px 25px;
		height: 500px;
		margin-left: calc($filterWidth + $filterMargin + 2.5vw);
		margin-right: 2.5vw;
		background-color: white;
		
		h2 {
			margin: 0 auto;
			text-align: center;
			font-weight: $fontWeightBold;
			position: relative;
			
			img {
				width: 18px;
				height: 26px;
			}

			span {
				position: absolute;
				right: 0;
				bottom: -3px;
				font-weight: $fontWeightLight;
				font-size: $fontSizeMedium;
				font-style: normal;

				a {
					color: $clearBlue;
					border-bottom: none;

					svg {
						display: inline;
						fill: none;
						stroke: $clearBlue;
						stroke-width: 1;
						width: 16px;
						height: 16px;
						margin: 0 2px -3px 0;
						transition-duration: $transitionDurationDefault;
					}

				} /* a */

				a:hover {
					color: $red;

					svg {
						stroke: $red;
					}
				}

			} /* span */

		} /* h2 */

	} /* category-items */

} /* category */

