#contacts {
	padding-top: 1px;
	position: relative;

}

#gMap {
	min-height: calc(100vh - $headerHeight - $footerHeight);
	margin-top: $headerHeight;
}

#contactinfo {
	display: inline-block;
	position: absolute;
	bottom: 7%;
	background-color:rgba(50,50,50,0.9);
	color: white;
	padding: 10px; 
	border-radius: 3px;
	box-shadow:0 2px 10px rgba(0,0,0,0.5);
	width: 30%;
	right: 0;
	left: 0;
	margin: auto;

	h2 {
		text-align: center;
		font-weight: $fontWeightBold;
	}


	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		margin-top: 8px;
	}


	svg {
		width: 19px;
		height: 19px;
		margin: 0 4px -2px 0;
		fill: $offwhite;
		transition-duration: $transitionDurationDefault;

	} /* svg */

	svg.arrow {
		width: 12px;
		height: 8px;
		margin: 0;
	}


	a {
		color: white;
	}

	li.active {
		
		a {
			color: $red;
		}

		svg {
			fill: $red;
		}

	}

	li.selected {
		
		a {
			color: $yellow;
			cursor: default;
		}

		svg {
			fill: $yellow;
		}

	} /* li.selected */

} /* contactinfo */