.homepage-banner {
	height: 130vh;
	background-image: url(/catalog/view/theme/autoobuv/image/bcg-clouds.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.homepage-banner-content {
	background-image:  url(/catalog/view/theme/autoobuv/image/bcg-build-01.png), url(/catalog/view/theme/autoobuv/image/bcg-build-02.png),  url(/catalog/view/theme/autoobuv/image/bcg-build-03.png);
	background-position: bottom left, bottom center, bottom right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	height: 100%;
	padding-top: 1px;
}

.homepage-banner-menu {
	margin-top: 25vh;
	width: 100%;

	ul {
		padding: 0;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	
	li {
		display: flex;
		flex-basis: 33.3333%;
		min-width: 300px;
		margin-bottom: 25px;

		a {
			display: flex;
			border: none;
			transition-duration: 0;
		}

		a:hover {
			color: inherit;
		}

		a:hover h4 {
			color: $red;

		}
		
		img {
			width: 56px;
			height: 35px;
			margin-top: 10px;
			margin-right: 25px;
		}

		h4 {
			margin: 0;
			transition-duration: $transitionDurationDefault;

			img {
				width: 12px;
				height: 8px;
			}
		} /* h4 */

		p {
			margin-top: 0.5rem;
			font-size: $fontSizeSmall;
			line-height: 150%;
		}


	} /* li */

} /* homepage-banner-menu */

.about {

	h1 {
		text-align: center;
	}
	
	.tagline-container {
		margin: 5rem auto 0 auto;
		height: 730px;
		background-image: url(/catalog/view/theme/autoobuv/image/bcg-about.svg);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 590px;
		position: relative;
		padding-top: 1px;

		.tagline {
			position: absolute;
			top: 0;
			left: 120px;

			h1 {
				text-align: left;
			}

			p {
				font-size: 1.8rem;
			}
			
			img {
				width: 23px;
				height: 23px;
				margin: 0 10px -7px 0;
			}

		} /* tagline */

		.advantages {
			margin: 280px 0 80px 610px;

			section {
				margin-top: 70px;
				display: flex;
				align-items: center;
			}

			img {
				width: 49px;
				height: 49px;
				margin-right: 20px;
			}

			p {
				margin: 0;
			}

			h2 {
				margin: 0 0 0.5rem 0;
				color: $red;
			}

		} /* advantages */

	} /* tagline-container */

	.extras {

		margin-bottom: 5rem;

		h1 {
			margin-bottom: 5rem;
		}
			
		ul {
			display: flex;
			justify-content: space-between;
		}
		
		li {
			display: block;
			margin: 0 20px;
			flex: 1 1 33.3333%;
			max-width: 350px;
		}

		img {
			display: block;
			margin: 0 auto 25px auto;
			width: 55px;
			height: 50px;
		}

		h5 {
			color: $red;
		}

		p {
			margin: 0;
			font-size: $fontSizeMedium;
			line-height: 150%;
		}

	} /* extras */

	.reliability {

		margin: 5rem 0 10rem 0;

		img.cert {
			display: block;
			margin: 0 auto;
		}

		p {
			text-align: center;
		}

	} /* reliability */

	.partnership {

		.logos {
			display: flex;
			justify-content: space-between;
		}

		img {
			display: block;
			flex: 1 1 25%;
			margin: 2.5rem 4rem;
			max-width: 200px;
		}

	}

} /* about */

.black-stripe {
	width: 100%;
	height: 1px;
	background-color: $baseBlack;
}

img.about-arrow {
	display: block;
	width: 66px;
	height: 106px;
	margin: 0 auto;
}

img.container {
	width: 1048px;
	height: 416px;
	display: block;
	margin-top: 50px;
}